.lt15-jumbotron {
	background-image: url("battersea.jpg");     background-position: center top; 
	height: 36em;
	color: #1a1a1a;
	text-align: right;
}

.lt15-title {
	font-weight: 900;
}

.lt15-date {
	font-weight: 500;
}

.lt15-cfp {
	padding-top: 5em;
	font-size: 120%;
}

.lt15-was {
	font-size: 120%;
	text-align: center;
}

.lt15-was h2 {
	font-weight: 800;
	padding-bottom: .5em;
}

body {
  padding-top: 40px;
  padding-bottom: 20px;
}

footer {
	padding-top: 10em;
	font-size: 80%;
	text-align: center;
}
