.lt15-jumbotron {
	background-image: url("battersea.jpg");
	background-position: center top;
	height: 36em;
	color: #1a1a1a;
	text-align: right;
}

.lt15-logo {
        width: 300px;
        margin-bottom: 20px;
        border-radius: 5px; 
}

.lt15-title, .lt15-brand{
	font-weight: 900;
}

.lt15-date {
	font-weight: 500 !important;
}

.lt15-cfp, .lt15-wo {
	padding-top: 5em;
	font-size: 120%;
}

.lt15-was, .lt15-wo {
	font-size: 120%;
	text-align: center;
}

.lt15-was h2, .lt15-wo h2 {
	font-weight: 800;
	padding-bottom: .5em;
}

body {
  padding-top: 40px;
  padding-bottom: 20px;
}

footer {
	padding-top: 10em;
	font-size: 80%;
	text-align: center;
}

.lt15-tt {
	display: table;
}

.lt15-tt-row {
	display: table-row;
}

.lt15-tt-left {
	display: table-cell;
	text-align: right;
}

.lt15-tt-right {
	display: table-cell;
	text-align: left;
	width: 48%;
}

.lt15-tt-timeline {
	display: table-cell;
	text-align: center;
	width: 30px;
	background: url("timeline.png") center repeat-y
}

.lt15-tt-timeline::before {
	content: "\25cf";
	font-size: 30px;
}

.lt15-event-title:hover {
        font-weight: 500;
}
